<nav class="navbar fondoNegroEstandar sombreado fixed-top p-3">
  <div class="container-fluid d-flex justify-content-between">

    <div class="d-flex">
      <div style="background-color: white;" class="rounded-5">
        <img src="https://cdn-icons-png.freepik.com/512/7720/7720738.png" style="width: 75px;" alt="Logo App">
      </div>
      <h1 class="text-center mb-0 pt-3 ms-2 text-light">GasApp</h1>
    </div>

    <div class="d-flex justify-content-around" style="width: 45%;">
      <!--div>
        <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <mat-select>
            @for (food of foods; track food) {
            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

      </div-->
      <div>

      </div>
      <div>

      </div>
    </div>

  </div>
</nav>