<div class="container-fluid mt-5 pt-5">
    <div class="row mt-5">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Buscar por Código Postal</mat-label>
              <input type="text"
                     placeholder="Introduzca código postal"
                     aria-label="Number"
                     matInput
                     [(ngModel)]="postalCode"
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                @for (option of filteredOptions | async; track option) {
                  <mat-option [value]="option">{{option}}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            <button type="button" class="btn btn-primary" (click)="filtrarPorCP()">Filtrar</button>
        </form>
    </div>
</div>
